node_modules/
/statics
selfSigned.key
selfSigned.cert
coverage/
artifacts/
**/npm-debug.log
**/ynpm-debug.log
tmp/
CVS/
.DS_Store
.*.swp
.svn
.git
*.pem
*~
.com.apple.timemachine.supported
dist/
mockDist/
.env
src/.DS_Store
local_test_result/
jest.xml
screwdriver_build.state
npm-debug.log
yarn-error.log
yarn.lock
ynpm-debug.log
